<header>
    <nav class="border-gray-200 px-4 lg:px-6 py-2.5 shadow-md mb-10 ">
        <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
            <a href="https://calcularrendafixa.com.br/" class="flex items-center">
                <img ngSrc="imagens/logo/logo.webp" alt="Logo" width="200" height="200" priority>
            </a>
           
            <div class=" justify-between items-center w-full lg:flex lg:w-auto lg:order-1 text-black" id="mobile-menu-2">
                <ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0">
                    <li>
                        <a routerLink="/about" href="/about" class="button block py-2 pr-4 pl-3 text-black rounded  lg:bg-transparent lg:text-primary-700 lg:p-0 " aria-current="page">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

